{% extends "ipad/ipad_base.html" %}

{% load pagination_tags %}

{% load staticfiles %}


{% block extra_style %}
    <style type="text/css">
        .my_pic{
            max-height: 50px;
        }

        ul {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
        }

        li {
          padding-left: 1em;
          text-indent: -1em;
        }

        li:before {
          content: " ";
          padding-right: 1px;
        }
    </style>
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
   
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-2">名字</th>
                            <th class="col-xs-1">店铺类型</th>
                            <th class="col-xs-2">文件</th>
                            <th class="col-xs-1">创建时间</th>
                            <th class="col-xs-2">图片</th>
                            <th class="col-xs-1">修改</th>
                            <th class="col-xs-1">删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                           <tr>
                                <td>{{ obj.exhibiting.name }}</td>
                                <td>{{ obj.exhibiting.shop_type }}</td>
                                <td><a href="{{ obj.exhibiting.file_addr.url }}">{{ obj.exhibiting.file_name }}</a></td>
                                <td>{{ obj.exhibiting.created_time }}</td>                                
                                <td>
                                    <ul style="display:">
                                        {% for im in obj.exhibiting_file %}
                                            <li>
                                                <a href="{{ im.image.url }}"><img class="img-responsive my_pic" src="{{ im.image.url }}"></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="/ipad/admin/exhibiting/{{ obj.exhibiting.id }}/" role="button">修改</a>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="/ipad/admin/exhibiting/{{ obj.exhibiting.id }}/delete" role="button">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-default" href="/ipad/admin/exhibiting/add/" role="button">添加</a>
          </div>
        </div>
    </div>
 
{% endblock %}

