{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}

{% load formset_tags %}

{% load widget_tweaks %}

{% block extra_style %}
    <style type="text/css">
        ul li{
          list-style: none;
            display: inline-block;
            padding-left: 0;
            /*margin-left: -5px;*/
        }

        #id_shop_type{
            padding-left: 0;
          display: inline-block;
        }
    </style>
{% endblock %}

{% block extra_script %} 
  {{ trainingfile_formset.media }}
{% endblock %}

{% block content %}

    <div class="container">
        <script src="/static/jquery19/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/jquery.formset.js"></script>

        <div class="col-xs-12">
            <h3 class="text-center">修改陈列</h3>
        </div>

        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              {{ exhibiting_form.name.errors }}
              {{ exhibiting_form.name.label_tag }}
              {{ exhibiting_form.name | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ exhibiting_form.file_addr.errors }}
              {{ exhibiting_form.file_addr.label_tag }}
              {{ exhibiting_form.file_addr | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ exhibiting_form.shop_type.errors }}
              {{ exhibiting_form.shop_type.label_tag }}
              {{ exhibiting_form.shop_type }}
            </div>

            {% load formset_tags %}

            <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}

                <div data-formset-body >
                    <!-- New forms will be inserted in here -->
                    {% for form in formset %}
                        <div data-formset-form>

                            <div class="form-group">
                              {{ form }}
                            </div>
                            <!-- <button type="button" data-formset-delete-button>Delete form</button> -->
                        </div>
                    {% endfor %}
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            {{ formset.empty_form }}
                           
                        </div>
                    {% endescapescript %}
                </script>

                <!-- This button will add a new form when clicked -->
                <hr>
                <input type="button" value="多添加一张图片" data-formset-add class="btn btn-default btn-sm">

                <script>jQuery(function($) {
                    $("#formset").formset();
                });</script>

            </div>

            <hr>

            <input type="submit" value="确定" class="btn btn-primary">

        </form>
        <div class="col-xs-3"></div>
            </div>
        </div>
        

    </div>



{% endblock %}

