{% extends "ipad/ipad_base.html" %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block extra_style %}{% endblock %}

{% block extra_script %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">帮助文件</h3>
            </div>
        </div>

        <form action="" method="post">{% csrf_token %}
            <p>确定删除 "{{ object.file_addr }} 上传时间：{{ object.created_time }}"?</p>
            <input type="submit" value="确定" class="btn btn-primary">
        </form>
        
    </div>
{% endblock %}

