{% extends "ipad/ipad_base.html" %}


{% load staticfiles %}

{% block extra_style %}{% endblock %}

{% block extra_script %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">帮助文件</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tr>
                        <th>文件</th>
                        <th>版本</th>
                        <th>上传时间</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                    {% for obj in object_list %}
                    <tr>
                        <td><a href="{{ obj.file_addr.url }}">{{ obj.file_addr.name }}</a></td>
                        <td>{{ obj.version }}</td>
                        <td>{{ obj.created_time }}</td>
                        <td>
                            <a class="btn btn-default" href="/ipad/admin/help/{{ obj.id }}/" role="button">修改</a>
                        </td>
                        <td>
                            <a class="btn btn-default" href="/ipad/admin/help/delete/{{ obj.id }}/" role="button">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="col-xs-12">
            <a class="btn btn-default" href="/ipad/admin/help/add/" role="button">添加</a>
          </div>
            </div>
        </div>
    </div>

{% endblock %}

