{% extends "base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}

{% block site_brand %}<a class="navbar-brand" href="#">iPad</a>{% endblock %}

{% block extra_head_base %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block style_base %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/justified-nav.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <style type="text/css">
        /*.container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: auto;
            }*/

    </style>
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-xs-12">{% block content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div style="float:left;">
    <a href="http://jefen.com/" target="_blank"> {% trans "&copy; 2014 版权所有 北京吉芬时装设计股份有限公司 京ICP备05060825号-1" %}</a>
</div>

{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "jquery19/jquery-1.9.0.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/respond.min.js" %}"></script>
      <script src="{% static "js/html5shiv.min.js" %}"></script>
    <![endif]-->
    {% block extra_script %}{% endblock %}
{% endblock %}
