{% extends "ipad/ipad_base.html" %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block extra_style %}{% endblock %}

{% block extra_script %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">帮助文件</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
               
                <form action="" method="post">{% csrf_token %}

                    <div class="form-group">
                      {{ form.file_addr.errors }}
                      {{ form.file_addr.label_tag }}
                      {{ form.file_addr | add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                      {{ form.version.errors }}
                      {{ form.version.label_tag }}
                      {{ form.version | add_class:"form-control" }}
                    </div>

                    <input type="submit" value="确定" class="btn btn-primary">
                </form>
                            
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>

{% endblock %}

