{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}
{% block extra_style %}
{% load widget_tweaks %}
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center">添加例会</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
          <div class="col-xs-6">
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              {{ meeting_form.name.errors }}
              {{ meeting_form.name.label_tag }}
              {{ meeting_form.name | add_class:"form-control" }}
            </div>
            
            <div class="form-group">
              {{ meeting_form.desc.errors }}
              {{ meeting_form.desc.label_tag }}
              {{ meeting_form.desc |attr:"rows:3" |attr:"placeholder:可以不填" | add_class:"form-control" }} 
            </div>
            
            <div class="form-group">
              {{ meeting_form.file_addr.errors }}
              {{ meeting_form.file_addr.label_tag }}
              {{ meeting_form.file_addr | add_class:"form-control" }}
            </div>

            <div class="form-group">
              <input type="submit" value="确定" class="btn btn-primary" class="btn-block">
            </div>

            
          </form>
          </div>
          <div class="col-xs-3"></div>
      </div>
    </div>

{% endblock %}

