{% extends "ipad/ipad_base.html" %}

{% load pagination_tags %}

{% load staticfiles %}


{% block extra_style %}
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
   
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>名字</th>
                            <th>创建时间</th>
                            <th>文件</th>
                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                           <tr>
                                <td>{{ obj.notifacation.name }}</td>
                                <td>{{ obj.notifacation.created_time }}</td>                               
                                <td>
                                    {% for obj in obj.notifacation_file %}
                                            <a href="{{ obj.file_addr }}">{{ obj.file_name }}</a>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-default" href="/ipad/admin/notification/{{ obj.notifacation.id }}/" role="button">修改</a>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="/ipad/admin/notification/{{ obj.notifacation.id }}/delete" role="button">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-default" href="/ipad/admin/notification/add/" role="button">添加</a>
          </div>
        </div>
    </div>
 
{% endblock %}

