{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_style %}
{% endblock %}

{% block extra_script %} 
  {{ trainingfile_formset.media }}
{% endblock %}

{% block content %}

    <div class="container">
        <script src="/static/jquery19/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/jquery.formset.js"></script>
        <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center">添加通知</h3>
        </div>
      </div>
        <div class="row">

            <div class="col-xs-3"></div>
            <div class="col-xs-6">
        <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}


            <div class="form-group">
              {{ notifacation_form.name.errors }}
              {{ notifacation_form.name.label_tag }}
              {{ notifacation_form.name | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ notifacation_form.file_addr.errors }}
              {{ notifacation_form.file_addr.label_tag }}
              {{ notifacation_form.file_addr | add_class:"form-control" }}
            </div>

            <input type="submit" value="确定" class="btn btn-primary" class="btn-block">

        </form>
        </div>
        <div class="col-xs-3"></div>

        </div>

    </div>



{% endblock %}

