{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block extra_style %}
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}

    <div class="container">
      <div class="col-xs-12">
          <h3 class="text-center">添加推广</h3>
        </div>

        <div class="row">
          <div class="col-xs-3"></div>
            <div class="col-xs-6">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              {{ publish_form.name.errors }}
              {{ publish_form.name.label_tag }}
              {{ publish_form.name | add_class:"form-control" }}
            </div>
            
            <div class="form-group">
              {{ publish_form.desc.errors }}
              {{ publish_form.desc.label_tag }}
              {{ publish_form.desc |attr:"rows:3" | add_class:"form-control" |attr:"placeholder:可以不填" }} 
            </div>
            
            <div class="form-group">
              {{ publish_form.file_addr.errors }}
              {{ publish_form.file_addr.label_tag }}
              {{ publish_form.file_addr | add_class:"form-control" }}
            </div>

            <input type="submit" value="确定" class="btn btn-primary">
          </form>
          <div class="col-xs-3"></div>
            </div>
        </div>
    </div>

{% endblock %}

