{% extends "ipad/ipad_base.html" %}

{% load pagination_tags %}

{% load staticfiles %}


{% block extra_style %}
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
   
</script>
{% endblock %}

{% block content %}
    {% autopaginate object_list 20 %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="col-xs-2">名字</th>
                      <th class="col-xs-2">描述</th>
                      <th class="col-xs-1">创建时间</th>
                      <th class="col-xs-2">文件</th>
                      <th class="col-xs-1">修改</th>
                      <th class="col-xs-1">删除</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.publish.name }}</td>
                            <td>{{ obj.publish.desc }}</td>
                            <td>{{ obj.publish.created_time }}</td>
                            <td>
                            {% for obje in obj.publish_file %}
                                <a href="{{ obje.file_addr.url }}">{{ obje.file_name }}</a>
                            {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-default" href="/ipad/admin/publish/{{ obj.publish.id }}/" role="button">修改</a>
                              </td>
                              <td>
                                <a class="btn btn-default" href="/ipad/admin/publish/{{ obj.publish.id }}/delete/" role="button">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-default" href="/ipad/admin/publish/add/" role="button">添加</a>
          </div>
        </div>
    </div>
    {% paginate %}

{% endblock %}

