{% extends "ipad/ipad_base.html" %}

{% load pagination_tags %}

{% load staticfiles %}


{% block extra_style %}
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
   
</script>
{% endblock %}

{% block content %}
{% autopaginate object_list 20 %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-2">名字</th>
                            <th class="col-xs-2">描述</th>
                            <th class="col-xs-1">图片</th>
                            <th class="col-xs-2">创建时间</th>
                            <th class="col-xs-2">文件</th>
                            <th class="col-xs-1">修改</th>
                            <th class="col-xs-1">删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                           <tr>
                                <td class="col-xs-2">{{ obj.training.name }}</td>
                                <td class="col-xs-2">{{ obj.training.desc }}</td>
                                <td class="col-xs-1"><a href="{{ obj.training.image.url }}"><img class="img-responsive" src="{{ obj.training.image.url }}"></a></td>
                                <td class="col-xs-2">{{ obj.training.created_time }}</td>                                
                                <td class="col-xs-2">
                                    <ul>
                                        {% for obj in obj.training_file %}
                                            <li>
                                                <a href="{{ obj.file_addr.url }}">{{ obj.file_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="col-xs-1">
                                    <a class="btn btn-default" href="/ipad/admin/training/{{ obj.training.id }}/" role="button">修改</a>
                                </td>
                                <td class="col-xs-1">
                                    <a class="btn btn-default" href="/ipad/admin/training/{{ obj.training.id }}/delete" role="button">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-default" href="/ipad/admin/training/add/" role="button">添加</a>
          </div>
        </div>
        {% paginate %}
    </div>
 
{% endblock %}

