{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}

{% load formset_tags %}
{% load widget_tweaks %}



{% block extra_style %}
{% endblock %}

{% block extra_script %} 
  {{ trainingfile_formset.media }}
{% endblock %}

{% block content %}

    <div class="container">
        <script src="/static/jquery19/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/jquery.formset.js"></script>
        <div class="row">
            <div class="col-xs-12"><h3 class="text-center">添加培训</h3></div>

        </div>
        

            <div class="row">
                <div class="col-xs-3"></div>
                <div class='col-xs-6'>
                    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group">
              {{ training_form.name.errors }}
              {{ training_form.name.label_tag }}
              {{ training_form.name | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ training_form.desc.errors }}
              {{ training_form.desc.label_tag }}
              {{ training_form.desc |attr:"rows:3" | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ training_form.image.errors }}
              {{ training_form.image.label_tag }}
              {{ training_form.image | add_class:"form-control" }}
            </div>

            <div class="form-group">
              {{ training_form.video_url.errors }}
              {{ training_form.video_url.label_tag }}
              {{ training_form.video_url | add_class:"form-control" }}
            </div>


            

            <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}

                <div data-formset-body >
                    <!-- New forms will be inserted in here -->
                    {% for form in formset %}
                        <div data-formset-form>
                            {{ form }}
                            <!-- <button type="button" data-formset-delete-button>Delete form</button> -->
                        </div>
                    {% endfor %}
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            {{ formset.empty_form }}
                           
                        </div>
                    {% endescapescript %}
                </script>

                <!-- This button will add a new form when clicked -->
                <hr>
                <input type="button" value="多增加一个附件" data-formset-add class="btn btn-default btn-sm">

                <script>jQuery(function($) {
                    $("#formset").formset();
                });</script>

            </div>
            <hr>

            <input type="submit" value="确定" class="btn btn-primary">


        </form>
        <div class="col-xs-3"></div>
                </div>

            </div>


        

    </div>



{% endblock %}

