{% extends "ipad/ipad_base.html" %}
{% load staticfiles %}

{% load formset_tags %}

{% block extra_style %}
{% endblock %}

{% block extra_script %} 
  {{ trainingfile_formset.media }}
{% endblock %}

{% block content %}

    <div class="container">
        <script src="/static/jquery19/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/jquery.formset.js"></script>


        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

            {{ training_form }}

            {% load formset_tags %}

            <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}

                <div data-formset-body >
                    <!-- New forms will be inserted in here -->
                    {% for form in formset %}
                        <div data-formset-form>
                            {{ form }}
                            <!-- <button type="button" data-formset-delete-button>Delete form</button> -->
                        </div>
                    {% endfor %}
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            {{ formset.empty_form }}
                           
                        </div>
                    {% endescapescript %}
                </script>
                <!-- This button will add a new form when clicked -->
                <input type="button" value="添加" data-formset-add>

                <script>jQuery(function($) {
                    $("#formset").formset();
                });</script>
            </div>
            <button type="submit">保存</button>
        </form>
    </div>
{% endblock %}

