{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
    <tr>
      <th>员工ID</th>
      <th>姓名</th>
      <th>店铺编号</th>
    </tr>
    {% for e in employees %}

    <tr>
      <td>{{ e.employee_id }}</td>
      <td>{{ e.name }}</td>
      <td>{{ e.shop_id }}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    

  </div>
    



{% endblock %}