{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}

{% endblock %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block body %}

<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
        <p>您的意见对我们非常重要，我们会认真对待每一条反馈:</p>
        <form action="/check/feedback/" method="POST">{% csrf_token %}
            <!-- <table class="table"> -->
                {{ form.as_p }}
            <!-- </table> -->
            <input type="submit" class="btn btn-info" value="发出去">
        <form>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>
  </div>


</div>
{% endblock %}