{% extends "site_base.html" %}

{% load staticfiles %}


{% block content %}
    <form action='.' method='post'>{% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type='submit' id="submit_note" value='查询'>
    </form>

    {% for obj in object_list %}
        <hr>
        <table class="table table-striped">
        <tr>
            <th>员工id</th>
            <th>日期</th>
            <th>上班打卡</th>
            <th>下班打卡</th>
        </tr>
        {% for sub_obj in obj %}
            <tr>
                <td>{{ sub_obj.employee_id }}</td>
                <td>{{ sub_obj.check_day }}</td>
                <td>{{ sub_obj.checkin_time }}</td>
                <td>{{ sub_obj.checkout_time }}</td>
            </tr>
            
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}