{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
<style>
  .D24{font-size:24px; color:#FF0000; text-align: center;}
  .D18{font-size:18px; color:#000000; text-align: left;}
  .D12{font-size:12px; color:#000000; text-align: left; padding:20px; }
  .ZD{font-size:14px; color:#FF0000; text-align: left; padding:40px; }
  img{border: 1px solid #cccccc;}
</style>
{% endblock %}

{% block extra_script %}

{% endblock %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block body %}

<div class="container">
  
  <div class="row">
    <div class="D24">排班、考勤报表使用说明</div>
    <div class="D18">一、人员排班设置</div>
    <div class="D12">1.1 打开浏览器输入 <a href='http://tg.jefen.com:90'  target='blank'>http://tg.jefen.com:90</a> ,访问排班系统.</div>
    <img src="{% static "helpimg/http_login.jpg" %}">
    <div class="D12">1.2 登陆成功界面.</div>
    <img src="{% static "helpimg/http_login_ok.jpg" %}">
    <div class="D12">1.3 点击 员工信息 可以查看本店的人员信息,对于离职人员和新入职的员工，请参照POS系统的营业员维护方法.
      [<span style="color:#ff0000">注意:在POS系统维护人员后，排班系统信息需要24小时生效。</span>]</div>
    <img src="{% static "helpimg/http_dianyuan_info.jpg" %}">
    <div class="D12">1.4 点击 班次设置 可以根据本店的班次情况设置班次。</div>
    <img src="{% static "helpimg/http_bc_add.jpg" %}">
    <div class="D12">1.5 修改班次。</div>
    <img src="{% static "helpimg/http_bc_edit.jpg" %}">
    <div class="D12">1.6 点击 排版管理 设置每个员工的排班情况</div>
    <img src="{% static "helpimg/http_bc_setup.jpg" %}">
    <div class="D12">1.7 点击 统计报表 查看本店考勤情况</div>
    <img src="{% static "helpimg/http_view.jpg" %}">
    <div class="D12">1.8 统计报表 其它信息.</div>
    <img src="{% static "helpimg/http_note.jpg" %}"><br><br>
    <img src="{% static "helpimg/http_hz.jpg" %}"><br><br>
    <img src="{% static "helpimg/http_tl.jpg" %}">
  </div>

  <br><br><br>

  <div class="row">
    <div class="D24">客户端使用说明</div>
    <div class="D18">二、考勤系统客户端登陆</div> 
    <div class="D12">2.1 双击桌面上的考勤图标,打开考勤程序.</div> 
    <img src="{% static "helpimg/client_ico.jpg" %}">
    <div class="D12">2.2 输入POS系统的操作员账号密码登陆.</div>
    <img src="{% static "helpimg/login_client.jpg" %}">
    <div class="D12">2.3 登陆成功后的界面.</div>
    <img src="{% static "helpimg/client_login_ok.jpg" %}">
    <div class="D12">2.4 员工考勤操作流程。<br>
      <div class="ZD">
      2.4.1 选择右侧的员工姓名.<br>
      2.4.2 在点击左侧的启动摄像头<br>
      2.4.3 摄像头显示考勤人员的图像后，根据情况点击上班或下班按钮即可完成考勤.<br>
      2.4.5 考勤完成后，只要电脑能访问外网，即可登录考勤报表实时查看考勤结果.
      </div>
    </div>


  </div>

</div>
{% endblock %}