{% extends "site_base.html" %}

{% block body %}

{% include "checkapp/navigator.html" %}


<!-- <table class="table">
    {% for r in rotas %}
    <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.rota_type }}</td>
        <td>{{ r.start_time }}</td>
        <td>{{ r.end_time }}</td>
        <td>{{ r.color }}</td>
    </tr>
    {% endfor %}
</table> -->

<hr>
<form action='/check/uploadImageInfo/' method='post' enctype="multipart/form-data">
    <table class="table">
        {% csrf_token %}
        {{form.as_table}}
    </table> 
    <input type='submit' value='提  交'>
</form>

{% endblock %}