{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
{% endblock %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_script %} 
<script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        var message = button.data('message')
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        // modal.find('.modal-title').text('New message to ' + recipient)
        // modal.find('.modal-body p').val(message)
        modal.find('.modal-body p').text(message)
        // modal.find('.modal-body input)>input_value').val(id)
        modal.find('.input_value').val(id)
    })
</script>
{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>id</th>
        <th>提交者ID</th>
        <th>问题描述</th>
        <th>时间</th>
        <th></th>
    </tr>
    {% for o in object_list %}
        
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.user_id }}</td>
            <td>{{ o.desc }}</td>
            <td>{{ o.created_time }}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-message="{{ o.desc }}" data-id="{{ o.id }}" data-target="#myModal">删除</button></td>
        </tr> 
    {% empty %}
        <li>暂时没有反馈</li>
    {% endfor %}
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">正在删除...</h4>
      </div>
      <div class="modal-body">
        <p></p>
        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button> -->
        <form action="delete/" method="POST">{% csrf_token %}
            <input type="hidden" class="input_value" name="input_value">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <input type="submit" class="btn btn-primary" value="确定">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}