{% load common_tags %}

<!-- 
    user_type:
        0: 管理员
        1：店铺
        2：区域经理
 -->

<ul class="nav nav-justified" role="">
    {% if request.user.user_type = 1 %}
        <li class="{% active request "^/check/rotas/$" %}"> <a href="/check/rotas/"><span>排班管理</span></a></li>
        <li class="{% active request "^/check/employeeinfo/$" %}"> <a href="/check/employeeinfo/" ><span>员工信息</span></a></li>
        <li class="{% active request "^/check/rotassetup/$" %}"> <a href="/check/rotassetup/" ><span>班次设置</span></a></li>
    {% endif %}
    {% if request.user.user_type = 0 %}
        <li class="{% active request "^/check/rotascomfirm/$" %}"> <a href="/check/rotascomfirm/"><span>班次审批</span></a></li>
        <li class="{% active request "^/check/SetManager/$" %}"> <a href="/check/SetManager/"><span>指定店长</span></a></li>
        <li class="{% active request "^/check/list_feedback/$" %}"> <a href="/check/list_feedback/"><span>查看反馈</span></a></li>
    {% endif %}
    {% if request.user.user_type = 2 or request.user.user_type = 0 %}
        <li class="{% active request "^/check/regionalmanager_report/$" %}"> <a href="/check/regionalmanager_report/"><span>区域经理报表</span></a></li>
        <li class="{% active request "^/check/regionalmanager/$" %}"> <a href="/check/regionalmanager/"><span>区域经理信息</span></a></li>
    {% endif %}
    <!-- common -->
    {% if request.user.user_type != 2 %}
        <li class="{% active request "^/check/report/$" %}"> <a href="/check/report" ><span>统计报表</span></a></li>
        <li class="{% active request "^/check/schedule_work_time/$" %}"> <a href="/check/schedule_work_time/" ><span>排班工时统计</span></a></li>
    {% endif %}

</ul>