{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
  
{% endblock %}

{% block extra_script %}
   
    
{% endblock %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block content %}

  <table class="table">
      <tr>
          <th>用户ID</th>
          <th>姓名</th>
          <th>在职</th>
      </tr>
      {% for item in regional_manager %}
      <tr> 
          <td>{{ item.employee_id }}</td>
          <td>{{ item.name }}</td>
          {% if item.status == 0 %}
              <td>在职</td>
          {% else %}
              <td>离职</td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>

  <form action="/check/regionalmanager/" method="post">{% csrf_token %}
    {{ employees_form.as_table }}
    <input class="btn btn-primary" type='submit' id="submit_note" value='保存'>
  </form>

{% endblock %}