{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-switch.css" %}" rel="stylesheet">
    <style type="text/css">
        th{
            text-align:center;
            vertical-align:middle;
        }

        .table_report{
            text-align:center;
            vertical-align:middle;
          }
        .ui-tooltip-content ul {
            list-style-type:none;  
            margin:0px;
        }

        .check_pic{
            max-width: 150px;
            height: auto;

        }
        #table_cell_data td{
            padding:0px;
        }

        .table_note tbody>tr>th{
            border-top: 0px;
        }
        .table_note tbody>tr>td{
            border-top: 0px;
        }
        .title_bold{
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "jquery19/jquery-migrate-1.0.0.js" %}"></script>
    <script src="{% static "jqprint/jquery.jqprint-0.3.js" %}"></script>
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script type="text/javascript">
      $("[name='checkPic']").bootstrapSwitch(
          {
            'size':'small',
            'readonly': false,
            'state': false
          }
        );

      $('input[name="checkPic"]').on('switchChange.bootstrapSwitch', function(event, state) {
        if (state)
        {
          $('#table_cell_data td[editable="0"]').attr("editable","1");
        }else
        {
          $('#table_cell_data td[editable="1"]').attr("editable","0");
        }
      });

      // 显示照片

    $('#table_cell_data').tooltip({
    items: 'td[editable="1"]',
    position: { my: "left top", at: "right center-50%", collision: "flipfit" },
    content: function() {
        // return li;
        var element = $( this );
        var eid = element.attr("data-eid")
        var checkday = element.attr("data-checkday")
        $.ajax({
            type:'POST',
            url:'/check/loadPic/',
            data:{ "eid": eid, 'checkday': checkday},
            cache:false,
            success:function(data){

                if(data.checkin_image_path == "")
                {
                    html_in =  "<div>无签到照片</div>";
                }else
                {   
                    html_in = "<div>" + data.shop_name_in+ "<img class=\"check_pic\" src="+data.checkin_image_path+" /></div>";
                }

                if(data.checkout_image_path == "")
                {
                    html_out = "<div>无签出照片</div>";
                }else
                {
                    html_out = "<div>" + data.shop_name_out+ "<img class=\"check_pic\" src="+data.checkout_image_path+" /></div>";
                }
                html = "<div>" + html_in + html_out + "</div>" 
                $(".ui-tooltip-content").html(html);
            }
        });
        // console.log('html: ', html);
        return "加载中...";
      },
    show: null, // show immediately
    close: function(event, ui)
    {
        ui.tooltip.hover(function()
        {
            $(this).stop(true).fadeTo(400, 1); 
        },
        function()
        {
            $(this).fadeOut('400', function()
            {
                $(this).remove();
            });
        });
    }
    });


    function  myprint(){
    $("#monthReport").jqprint({ debug: true, importCSS: true });
    }
      
    </script>
    
{% endblock %}

{% block content %}

    <div class="row">
        <form action="/check/regionalmanager_report/" method="post">{% csrf_token %}
            <div class="col-xs-2">
                <select name="year" class="form-control">
                {% for r in year_data.year_list %}
                    <option value ="{{ r }}" 
                        {% if r == year_data.default %} 
                            selected 
                        {% endif %}>{{ r }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="col-xs-1">
                <select name="month" class="form-control">
                    {% for r in month_data.month_list %}
                        <option value ="{{ r }}" 
                            {% if r == month_data.default %} 
                                selected 
                            {% endif %}>{{ r }}
                        </option>
                    {% endfor %} 
                </select>
            </div>

            <div class="col-xs-2">
              <button id="" class="btn btn-primary">提  交</button>
            </div>

            <div class="col-xs-2">
                
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-2">
                查看照片: <input type="checkbox" name="checkPic" checked>
            </div>

        </form>

    </div>
        

    <!-- ################# -->
    <p></p>
   
    <div class="row">
        <div class="col-xs-12">
            <h3 style="text-align:center;" class="title_bold">{{ year_data.default }}年{{ month_data.default }}月</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3 class="title_bold">月份出勤报表:</h3>
        </div>
        <div class="col-xs-6">
            <!-- <input type="button" class="btn btn-primary" onclick="myprint()" value="打印"/> -->
        </div>
        
    </div>

    <div class="row">
        <div id="monthReport" class="col-xs-12">
            <table id="table_cell_data" class="table table-bordered table_report table-responsive">
                <tr>
                    <th></th>
                    {% for r in weekNumList %}
                        <th>{{ r }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th></th>
                    {% for r in monthDaylist %}
                        <th>{{ r }}</th>
                    {% endfor %}
                </tr>
                {% for s in status_list %}
                <tr>        
                    <td style="white-space: nowrap;">{{ s.name }}</td>
                    {% for r in s.data %}
                        <td style="" editable="0" data-eid={{ r.eid }} data-checkday={{ r.check_day }}>
                            {% if r.checkin_time %}
                                <div>{{ r.checkin_time }}</div>
                            {% else %}
                                <div>无</div>
                            {% endif %}
                            {% if r.checkout_time %}
                                <div>{{ r.checkout_time }}</div>
                            {% else %}
                                <div>无</div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}