{% extends "site_base.html" %}

{% load staticfiles %}

{% block footer %}
    
{% endblock %}

{% block extra_style %}
   
    <style type="text/css">
        th{
            text-align:center;
            vertical-align:middle;
        }

        .table_report{
            text-align:center;
            vertical-align:middle;
          }
        .ui-tooltip-content ul {
            list-style-type:none;  
            margin:0px;
        }

        .check_pic{
            max-width: 150px;
            height: auto;

        }
        #table_cell_data td{
            padding:0px;
        }

        .table_note tbody>tr>th{
            border-top: 0px;
        }
        .table_note tbody>tr>td{
            border-top: 0px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    

    
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-6">
            <h3 class="">月份出勤报表:</h3>
        </div>
        <div class="col-xs-6">
        </div>
        
    </div>

    <div class="row">
        <div id="monthReport" class="col-xs-12">
            <table id="table_cell_data" class="table table-bordered table_report">
                <!-- <tr>{{ r }}</tr> -->
                <tr>
                    <th></th>
                    {% for r in weekNumList %}
                        <th>{{ r }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th></th>
                    {% for r in monthDaylist %}
                        <th>{{ r }}</th>
                    {% endfor %}
                </tr>
                {% for s in status_list %}
                <tr>        
                    <td>{{ s.name }}</td>
                    {% for r in s.data %}
                        <td style="" editable="0" data-eid={{ r.eid }} data-checkday={{ r.checkday }}>
                            {% for xx in r.status %}
                                <div style="background-color: {{ xx.color }}">{{ xx.name }}</div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
   <div class="row">    <p>备注: {{ report_note.note }}</p> </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="">月份出勤报表:</h3>
        </div>
    </div>

    {% for user in statistics_report %}
        <div class="row">
            <div class="col-xs-1">{{ user.name }}</div>
            {% for data in user.data_list %}
                <div class="col-xs-1">{{ data.name }}: {{ data.date_list|length }}</div>
                
            {% endfor %}
        </div>
    {% endfor %}
   
    </div>
{% endblock %}