{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "MiniColors/jquery.minicolors.css" %}" rel="stylesheet">
    <link href="{% static "jquerytimepicker/jquery.timepicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker-fontawesome.css" %}" rel="stylesheet">
    <style type="text/css">
        #id_rota_type{
            padding:0;
            margin:0;
        }

        #id_rota_type li{
            float: left;
            list-style:none;
            width: 70px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static "MiniColors/jquery.minicolors.js" %}"></script>
    <script src="{% static "jquerytimepicker/jquery.timepicker.js" %}"></script>
    <script src="{% static "colorpicker/jquery.simplecolorpicker.js" %}"></script>

    <script type="text/javascript">
        $('#id_start_time').timepicker({ timeFormat: 'HH:mm', interval: 5, defaultTime: '9:00' });
        // $('#start_time').timepicker({ timeFormat: 'HH:mm' });
        $('#id_end_time').timepicker({ timeFormat: 'HH:mm', interval: 5, defaultTime: '16:00' });
        $('select[name="color"]').simplecolorpicker({
            picker: true
            });

        $("#id_rota_type_1").click(function(){
                $("#id_start_time").attr("disabled", true);
                $("#id_end_time").attr("disabled", true);
        });

        $("#id_rota_type_0").click(function(){
                $("#id_start_time").attr("disabled", false);
                $("#id_end_time").attr("disabled", false);
        });

    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-7 well">
            <form action='/check/rotasdelete/' method='post'>{% csrf_token %}
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>班次名称</th>
                    <th>班次类型</th>
                    <th>起止时间</th>
                    <th>显示颜色</th>
                    {% if edit_rotas == 1 %}
{#                        <th>删除</th>#}
                        <th>修改</th>
                    {% endif %}
                </tr>
                {% for r in rotas %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.name }}</td>
                    <td>
                        {% if r.rota_type == "1" %}
                            上班
                        {% else %}
                            非上班
                        {% endif %}
                    </td>
                    <td>
                        {% if r.rota_type == "1" %}
                            {{ r.start_time }}~{{ r.end_time }}
                        {% else %}
                            ---------------
                        {% endif %}
                    </td>
                    <td  style="background-color: {{ r.color }}">{{ r.color }}</td>
                    {% if edit_rotas == 1 and r.is_common != 1 %}
{#                        <td><input type="checkbox" name="delete" value="{{ r.id }}"></td>#}
                        <td>
{#                            <a href="/check/rotas/update/{{ r.id }}/">#}
                               <button type="button" class="btn btn-primary" onclick="location.href='/check/rotas/update/{{ r.id }}/'">修改</button>
{#                            </a>#}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
{#            {% if edit_rotas == 1 %}<input class="btn btn-primary" type='submit' value='删 除'>{% endif %}#}
        </form>
        </div>
        <div class="col-xs-5">
            {% if edit_rotas == 1 %}
            <form action='/check/rotassetup/' method='post'>
                <table class="table">
                    {% csrf_token %}
                    {{form.as_table}}
                </table>
                <input type='submit' class="btn btn-primary" value='提  交'>
            </form>
            {% else %}
                <p><span style="color: red;">总部已确认班次设置，您无法修改，如需修改，请联系总部为您打开权限。</span></p>
            {% endif %}
        </div>
        <div class="col-xs-6"></div>

    </div>

    <div class="row">

    </div>


{% endblock %}