{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}
{% block extra_style %}
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-switch.css" %}" rel="stylesheet">
    <style type="text/css">
        th{
            text-align:center;
            vertical-align:middle;
        }

        .table{
            text-align:center;
            vertical-align:middle;
          }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/rotas.js" %}"></script>
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script type="text/javascript">
      $("[name='my-checkbox']").bootstrapSwitch(
          {
            'size':'small',
            'readonly': false,
            'state': false
          }
        );

      $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        // console.log(this); // DOM element
        // console.log(event); // jQuery event
        // console.log(state); // true | false
        if (state)
        {
          $('#rotas_table td[editable="0"]').attr("editable","1");
        }else
        {
          $('#rotas_table td[editable="1"]').attr("editable","0");
        }
      });
      
    </script>
    
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
  {% if user_type == 1 %}
    <table class="table">
      <tr>
        <td>
          <input type="text" id="datepicker" class="hidden"/>
          <button id="show-date">选择日期</button>
            {{ date_rage.start_date }}~{{ date_rage.end_date }}
        </td>
        <td>编辑: <input type="checkbox" name="my-checkbox" checked></td>
      </tr>
    </table>
  </div>

</div>


  <table id='rotas_table' class="table table-bordered table-striped table-hover">
    <tr>
      <th></th>
      {% for r in weekdays %}
        <th>{{ r.date }}</th>
      {% endfor %}
    </tr>  
    <tr>
      <th></th>
      {% for r in weekdays %}
        <th>{{ r.weekName }}</th>
      {% endfor %}
    </tr>
    {% for cell in cell_list %}
        <tr>
          <td>{{ cell.name }}</td>
          {% for e in cell.data %}
          <td style="background-color:{{ e.rota_color }}" data-eid={{ e.employee_id }} data-scheduledate={{ e.scheduled_day }} data-weeknum={{ e.weekNum }} editable=0>{{ e.rota__name }}</td>
          {% endfor %}
        </tr>
    {% endfor %}
  </table>

   <script>
      var li = "{{ popUphtml|safe }}";

   </script>

   {% else %}
      <span>管理账户不能排班。</span>
   {% endif %}


{% endblock %}