{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
    <link href="{% static "MiniColors/jquery.minicolors.css" %}" rel="stylesheet">
    <link href="{% static "jquerytimepicker/jquery.timepicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker-fontawesome.css" %}" rel="stylesheet">
    <style type="text/css">
       
    </style>
{% endblock %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_script %}
    
    <script type="text/javascript">
        function comfirm(){
            var user_id = $("#comfirm_button").attr("user_id")
            // var edit_rotas = $("#comfirm_button").attr("edit_rotas")
            $.ajax({
                type:'POST',
                url:'/check/confirm_modify_button/',
                data:{"user_id": user_id, "edit_rotas": false},
                cache:false,
                success:function(data){
                    $("#comfirm_button").attr('disabled',true); 
                    $("#modify_button").attr('disabled',false);
                    return;
                }
            });
            // console.log("cell_id");
            
        };

        function modify(){
            var user_id = $("#comfirm_button").attr("user_id")
            // var edit_rotas = $("#comfirm_button").attr("edit_rotas")
            $.ajax({
                type:'POST',
                url:'/check/confirm_modify_button/',
                data:{"user_id": user_id, "edit_rotas": true},
                cache:false,
                success:function(data){
                    $("#comfirm_button").attr('disabled',false); 
                    $("#modify_button").attr('disabled',true);
                    return;
                }
            });
            
        };

    </script>
   
{% endblock %}

{% block content %}

        <div class="row">
            <form action='/check/rotascomfirm/' method='post'>{% csrf_token %}
            <div class="col-xs-3">
                <select name="user_id" class="form-control">
                    {% for x in data.data %}
                        <option value={{ x.user_id }} 
                        {% if x.user_id == data.default.user_id %} 
                            selected
                        {% endif %}
                        >{{ x.shop_name }}</option>
                    {% endfor %}
                </select>
            
            </div>
            <div class="col-xs-9"><input type='submit' class="btn btn-primary" value='提  交'></div>
            </form>

        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <th>班次名称</th>
                        <th>班次类型</th>
                        <th>起止时间</th>
                        <th>显示颜色</th>
                    </tr>
                    {% for r in rotas_list %}
                    <tr>
                        <td>{{ r.name }}</td>
                        <td>{% if r.rota_type == "1" %}上班{% else %}非上班{% endif %}</td>
                        <td>{% if r.rota_type == "1" %}{{ r.start_time }}~{{ r.end_time }}{% else %} --------------- {% endif %}</td>
                        <td style="background-color: {{ r.color }}">{{ r.color }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>        
        
        <div class="row">
            <div class="col-xs-6">
                <table class="table">
                <tr>
                    {% if data.default.edit_rotas %}
                        <td><button id="comfirm_button" type="button" onclick="comfirm()" class="btn btn-primary" edit_rotas={{ data.default.edit_rotas }} user_id={{ data.default.user_id }}>确认</button></td>
                        <td><button id="modify_button" type="button"  onclick="modify()" class="btn btn-primary" disabled="true" edit_rotas={{ data.default.edit_rotas }} user_id={{ data.default.user_id }}>允许修改</button></td>
                    {% else %}
                        <td><button id="comfirm_button" type="button" onclick="comfirm()" class="btn btn-primary" disabled="true" edit_rotas={{ data.default.edit_rotas }} user_id={{ data.default.user_id }}>确认</button></td>
                        <td><button id="modify_button" type="button"  onclick="modify()"  class="btn btn-primary" edit_rotas={{ data.default.edit_rotas }} user_id={{ data.default.user_id }}>允许修改</button></td>
                    {% endif %}
                </tr>
            </table>
            </div>
            <div class="col-xs-6">

            </div>
        </div>
        
{% endblock %}