{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "jquery-ui-1.11.2.custom/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-switch.css" %}" rel="stylesheet">
    <style type="text/css">
        th{
            text-align:center;
            vertical-align:middle;
        }

        .table{
            text-align:center;
            vertical-align:middle;
          }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static "jquery-ui-1.11.2.custom/jquery-ui.js" %}"></script>
    <script src="{% static "jquery-ui-1.11.2.custom/datepicker-zh-CN.js" %}"></script>
    
    <script src="{% static "js/rotas.js" %}"></script>
    <script src="{% static "js/bootstrap-switch.js" %}"></script>

    <script type="text/javascript">
      $("[name='my-checkbox']").bootstrapSwitch(
          {
            'size':'small',
            'readonly': false,
            'state': false
          }
        );

      $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        // console.log(this); // DOM element
        // console.log(event); // jQuery event
        // console.log(state); // true | false

        if (state)
        {
          $('#rotas_table td[editable="0"]').attr("editable","1");
        }else
        {
          $('#rotas_table td[editable="1"]').attr("editable","0");
        }
      });

    $(document).ready(function(){
        $('#rotas_table td[editable="0"]').hover(function(){
{#            alert(  $(this).attr("editable"));#}
            if( $(this).attr("editable") === "1"){
                 $(this).css("border","5px dotted green");
            }
        }, function(){
            if( $(this).attr("editable") === "1"){
                 $(this).css("border","1px solid #cccccc");
            }
        });
    });
    </script>
    
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-6">
    <input type="text" id="datepicker" class="hidden"/>
          <button id="show-date" class="btn btn-success">选择日期: </button>
            <strong>{{ date_rage.start_date }}~{{ date_rage.end_date }}</strong>
  </div>
  <div class="col-xs-3">
    编辑: <input type="checkbox" name="my-checkbox" checked>
  </div>
  <div class="col-xs-3"></div>

</div>
<hr>

<div class="row">
  <div class="col-xs-9">
    <table id='rotas_table' class="table table-bordered table-striped table-hover">
    <tr>
      <th></th>
      {% for r in weekdays %}
        <th>{{ r.date }}</th>
      {% endfor %}
    </tr>  
    <tr>
      <th></th>
      {% for r in weekdays %}
        <th>{{ r.weekName }}</th>
      {% endfor %}
    </tr>
    {% for cell in cell_list %}
        <tr>
          <td style="white-space: nowrap;">{{ cell.name }}</td>
          {% for e in cell.data %}
          <td style="background-color:{{ e.rota_color }}" data-eid={{ e.employee_id }} data-scheduledate={{ e.scheduled_day }} data-weeknum={{ e.weekNum }} {% if e.editable == 1 %} editable="0" {% endif %}>{{ e.rota__name }}</td>
          {% endfor %}
        </tr>
    {% endfor %}
  </table>
  </div>
  <div class="col-xs-3"></div>
</div>


  

   <script>
      var li = "{{ popUphtml|safe }}";

   </script>


{% endblock %}