{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "MiniColors/jquery.minicolors.css" %}" rel="stylesheet">
    <link href="{% static "jquerytimepicker/jquery.timepicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker-fontawesome.css" %}" rel="stylesheet">
    <style type="text/css">
        #id_rota_type{
            padding:0;
            margin:0;
        }

        #id_rota_type li{
            float: left;
            list-style:none;
            width: 70px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static "MiniColors/jquery.minicolors.js" %}"></script>
    <script src="{% static "jquerytimepicker/jquery.timepicker.js" %}"></script>
    <script src="{% static "colorpicker/jquery.simplecolorpicker.js" %}"></script>

    <script type="text/javascript">
        $('#id_start_time').timepicker({ timeFormat: 'HH:mm', interval: 5, defaultTime: '9:00' });
        // $('#start_time').timepicker({ timeFormat: 'HH:mm' });
        $('#id_end_time').timepicker({ timeFormat: 'HH:mm', interval: 5, defaultTime: '16:00' });
        $('select[name="color"]').simplecolorpicker({
            picker: true
            });

        $("#id_rota_type_1").click(function(){
                $("#id_start_time").attr("disabled", true);
                $("#id_end_time").attr("disabled", true);
        });

        $("#id_rota_type_0").click(function(){
                $("#id_start_time").attr("disabled", false);
                $("#id_end_time").attr("disabled", false);
        });

    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <H3><strong>正在修改班次设置:</strong></H3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <form action="" method="post">{% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input class="btn btn-primary" type="submit" value="保存修改" />
            </form>
        </div>
    </div>



{% endblock %}