{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <form action="/check/schedule_work_time/" method="post">{% csrf_token %}
        <div class="col-xs-2">
            <select name="year" class="form-control">
            {% for r in year_data.year_list %}
                <option value ="{{ r }}" 
                    {% if r == year_data.default %} 
                        selected 
                    {% endif %}>{{ r }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="col-xs-1">
            <select name="month" class="form-control">
                {% for r in month_data.month_list %}
                    <option value ="{{ r }}" 
                        {% if r == month_data.default %} 
                            selected 
                        {% endif %}>{{ r }}
                    </option>
                {% endfor %} 
            </select>
        </div>

        <div class="col-xs-2">
            <select name="shop_id" class="form-control">
                {% for r in shop_data.shop_list %}
                    <option value ="{{ r.id }}" 
                        {% if r.id == shop_data.default.id %} 
                            selected 
                        {% endif %}> {{ r.name }}
                    </option>
                {% endfor %}             
            </select>
        </div>

        <div class="col-xs-2">
            <button id="" class="btn btn-primary">提  交</button>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-2">
        </div>
    </form>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <tr>
                <th>姓名</th>
                <th>本月排班总时长(小时)</th>
            </tr>
            {% for r in report %}
            <tr>
                <td>{{ r.name }}</td>
                <td>{{ r.total_time }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}