{% extends "site_base.html" %}

{% load staticfiles %}

{% block my_top_nav %}
    <li><a id="" href="/check/help" target="_blank">使用说明</a></li>
{% endblock %}

{% block extra_style %}
    <link href="{% static "MiniColors/jquery.minicolors.css" %}" rel="stylesheet">
    <link href="{% static "jquerytimepicker/jquery.timepicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker.css" %}" rel="stylesheet">
    <link href="{% static "colorpicker/jquery.simplecolorpicker-fontawesome.css" %}" rel="stylesheet">
    <!-- Table Style -->
    <link href="{% static "BootstrapTable/bootstrap-table.min.css" %}" rel="stylesheet">
    
    <style type="text/css">

    </style>
{% endblock %}

{% block extra_script %}
    <!-- Table Js -->
    <script src="{% static "BootstrapTable/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript">
        var RowIndex = null;
        //[选择店长] 列 格式化 按钮 
        function FormatSelectManage(value,row,index) {
            if(value == 0){
                return '<button id="SetBut' + index + '" data-toggle="modal" data-target="#myModal" class="btn btn-success" title="点击设置店长!" onclick="OpWin(\'' + row.shop_id + '\',' + index +',\'' + row.shop_name + '\')">选择店长</button>'
            }else{                
                return '<button id="SetBut' + index + '" data-toggle="modal" data-target="#myModal" class="btn btn-danger" title="点击更换店长!" onclick="OpWin(\'' + row.shop_id + '\',' + index +',\'' + row.shop_name + '\')">'+ row.name + '</button>'
            }            
        }

        //弹窗 [设置为店长] 列 格式化 按钮
        function FormatSetDz(value, row) {
            if(value == row.employee_id){
                return '<button class="btn btn-danger" title="该店店长!">当前店长 : '+ row.name + '</button>'
            }else{                
                return '<button class="btn btn-success" title="点击设置为该店店长!" onclick="SaveEmployeeID(\'' + row.employee_id + '\',\'' + row.name + '\')">设置为店长</button>'
            }
        }
        //打开弹窗
        function OpWin(ShopID,index,ShopName){
            RowIndex = index;         //TABLE 行值
            SetWinTableSelect(ShopID);//设置店铺时 下拉选择
            $("#SetShopName").html(ShopName); //设置店铺时 的店铺名字
            $("#SetShopID").val(ShopID);
            $('#WinTable').bootstrapTable('refresh', {url: '/check/SetManager/GetEmployeesJs/?ShopID=' + ShopID + '&SetShopID=' + ShopID });
        }

        //保存店长 并 更新 按钮
        function SaveEmployeeID(EmployeeID,EmployeeName){
            var ShopID = $("#SetShopID").val();//使用弹出窗口的店铺ID
            $.ajax({
            type:'POST',
            url:'/check/SetManager/SaveDz/',
            data:{ "EmployeeID": EmployeeID, 'ShopID': ShopID},
            cache:false,
            success:function(data){
                if(data.Results){
                    //更新 [选择店长] 按钮
                    // $("#SetBut" + RowIndex).html(data.name);
                    $("#myModal").modal("hide")
                    //更新 [选择店长] manager_id 字段为选择的 员工ID ,按钮名称,取消在该店排班标志
                    row = {"manager_id":EmployeeID,"name":EmployeeName,"scheduledRotas":0}
                    $('#ShopList').bootstrapTable('updateRow',{index:RowIndex,row:row});
                }else{
                    alert(data.MSG);
                }
            }});
        } 

        //设置弹窗 选择店铺下拉控件数据
        function SetWinTableSelect(ShopID){
            //填充店铺数据
            var SelectObj = $("#SelectShop");
            if($("#SelectShop option").length == 0){
                var ShopData = $("#ShopList").bootstrapTable("getData");                
                for(var i = 0; i < ShopData.length ; i++ ){
                    SelectObj.append("<option value='" + ShopData[i].shop_id + "'>" + ShopData[i].shop_name + "</option>");
                }
            }
            SelectObj.val(ShopID);
        } 

        $(document).ready(function(){
            //绑定选择店铺事件
            $("#SelectShop").change(function() {
                try{
                    $('#WinTable').bootstrapTable('refresh', {url: '/check/SetManager/GetEmployeesJs/?ShopID=' + $(this).val() +'&SetShopID=' + $("#SetShopID").val()});
                }catch (e){
                    alert(e.message);
                    alert(e.description)
                    alert(e.number)
                    alert(e.name)
                    throw new Error(10,"asdasdasd")
                }                
            });
        });

        //[在选中店铺排班] 列 格式化 按钮
        function actionFormatter(value, row, index) {
            if(value==0){
                return ['<button shopid="' + row.shop_id + '" id="Flag' + index + '" class="btn btn-success" title="点击设置店长在此店铺排班!">X</button>']
            }else{
                return ['<button shopid="' + row.shop_id + '" id="Flag' + index + '" class="btn btn-danger" title="店长在此店铺排班!">√</button>']
            }            
        }
        //点击事件
        window.actionEvents = {
            'click .btn-success': function (e, value, row, index) {
                if(row.manager_id == 0){
                    alert("请先设置[" + row.shop_name + "]店的店长!");
                    return false;
                }                
                if(row.scheduledRotas == 0){
                $.ajax({
                    type:'POST',
                    url:'/check/SetManager/SaveScheduledRotas/',
                    data:{ "EmployeeID": row.manager_id, 'ShopID': row.shop_id},
                    cache:false,
                    success:function(data){
                        if(data.Results){
                            // $("#Flag" + index).attr('class','btn btn-danger');
                            // $("#Flag" + index).html('√');
                            var row = {"scheduledRotas" : 1};
                            $("#ShopList").bootstrapTable('updateRow',{index:index,row:row});                            
                            //更新 [在选中店铺排班] 旧的 选中的按钮
                            if(data.UpButon != "NO"){
                                var OldButton = $("button[shopid='" + data.UpButon + "']");
                                // OldButton.attr('class','btn btn-success');
                                // OldButton.html('X');
                                var OldIndex = OldButton.attr("id").replace("Flag","");
                                // alert(OldIndex);
                                var row = {"scheduledRotas" : 0};
                                $("#ShopList").bootstrapTable('updateRow',{index:OldIndex,row:row});
                            }
                        }else{
                            alert(data.MSG);
                        }
                    }});
                }                
            }
        };
        
    </script>
   
{% endblock %}

{% block content %}

<table id="ShopList" data-toggle="table" data-url="/check/SetManager/GetShopJs/" data-pagination="true" data-cache="false" data-height="500">
    <thead>
        <tr>
            <th data-field="shop_name" >店铺名称</th>
            <th data-field="manager_id" data-formatter="FormatSelectManage" >选择店长</th>
            <th data-field="scheduledRotas" data-formatter="actionFormatter" data-events="actionEvents">在选中店铺排班</th>
        </tr>
    </thead>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="progress" style="height:30px;line-height:30px;">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height:30px;line-height:30px; font-size:18px;font-weight:bold;">正在设置【<span id="SetShopName"></span>】
                        
                        <button type="button" class="close" data-dismiss="modal">
                            <span style="height:30px;line-height:30px;" aria-hidden="true">&times;&nbsp;&nbsp;</span><span class="sr-only" data-zh="关闭" data-es="Cerrar">Close</span>
                        </button>
                    </div>
                </div>
                <select id="SelectShop" style= "width:100%; height:25px;"></select>
                <input id="SetShopID" type="hidden">
            </div>
        <div class="modal-body">
            <table id="WinTable" data-toggle="table"  data-cache="false" data-height="300" data-method="post">
                <thead>
                    <tr>
                        <th data-field="shop_name">店铺名称</th>
                        <th data-field="name">店员名字</th>
                        <th data-field="manager_id" data-formatter="FormatSetDz">设置为店长</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}