{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}

{% endblock %}

{% block extra_script %}

    
    
{% endblock %}

{% block body %}

<form action="/check/test/" method="POST">
    <input type="text" id="" class="" />
    <input type="button" id="" class="" value="submit" />
</form>

{{ em.as_table }}

{% endblock %}

