{% extends "admin/base.html" %}

{% block extrahead %}
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
{% endblock %}

{% block title %}ipad资料后台管理{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ipad资料后台管理</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
