{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block body_class %}account account-delete{% endblock %}

{% block head_title %}账户删除{% endblock %}

{% block body %}
    <h1>删除账户</h1>
    
    <!-- <p>If you go ahead and delete your account, your information will be <b>expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours</b>.</p> -->
    
    <!-- <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete My Account</button>
    </form> -->
    <h3>您没有权限删除本账户</h3>

    
{% endblock %}
