{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h3>页面没有找到</h3>
        <!-- <p class="lead"><a href="/">点击返回主页</a></p> -->
    </header>
{% endblock %}
