{% load i18n %}

<div style="float:left;">
    <a href="http://jefen.com/" target="_blank"> {% trans "&copy; 2014 版权所有 北京吉芬时装设计股份有限公司 京ICP备05060825号-1" %}</a>

</div>

<div style="float:right" >

<a id="" href="/check/feedback" target="_blank">意见反馈</a>

</div>